#party {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.party-item {
  height: auto;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  background-size: cover;
  overflow: hidden;
  display: flex;
  /* text-shadow: 1px 1px 1px #fdfdfd6b, 0px 0px; */
  color: var(--light);
  position: relative;
  font-size: .85rem;
}


.party-item img {
  height: 100px;
  width: auto;
  filter: none;
  padding: 6px;
  filter: drop-shadow(5px 3px 2px #222);
}

.party-words {
  text-align: left;
  width: 100%;
  text-transform: capitalize;
  padding: 6px;
  background-color: var(--blue);
}

.party-type {
  padding: 0 6px;
  border-radius: 6px;
}

.party-img {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-level {
  background-color: white;
  border-radius: 100vw;
  font-size: 1.5rem;
  color: black;
  float: right;
  padding: 0 10px;
  text-align: center; 
}

/* Fight Buttons */
.move {
  text-align: left;
  width: 100%;
  background-color: var(--light);
  padding-left: 6px;
  color: var(--dark);
}

.moves:first-of-type .move{
  border-radius: 6px 0 0 0;
}

.moves:last-of-type .move{
  border-radius: 0 0 0 6px;
}

.power {
  background-color: var(--gray);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  border: 2px var(--gray) solid;
  width: 100%;
  max-width: 70px;
  text-align: right;
  float: right;
  color: var(--light);
  border: transparent;
  padding-right: 6px;
}


