#profile {
  backdrop-filter: blur(10px);
}

#profile h5 {
  color: var(--ice);
}

#profile img { 
  border-radius: 4px;
  float: left;
  margin-right: 2rem;
}

.user-info {
  text-align: left;
}

#profile hr {
  width: 100%;
  background-color: var(--yellow);
}

#profile .profile-info {
  padding: 5px;
  padding-top: 10px;
  backdrop-filter: blur(10px);
  text-align: left;
}

