#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.61);
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border-radius: 1rem;
  margin-top: 1rem;
  backdrop-filter: blur(10px);
}

#profile h5 {
  color: var(--ice);
}

#profile img { 
  border-radius: 4px;
}

.user-info {
  text-align: left;
  width: 100%;
  max-width: 500px;
}

.user-info .btn-sm {
  float: right;
}

#profile hr {
  width: 100%;
  background-color: var(--yellow);
}