#welcome {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../img/items/pokestop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    font-family: var(--museo);
    text-shadow: -1px 2px 3px #3d3d3d6b, 0px 0px;
}

#welcome > img {
    height: auto;
    max-height: 250px;
}

h2 {
    color: var(--yellow);
}

#intro {
    font-weight: bold;
}

#intro h2 {
    font-family: var(--pokemon);
    line-height: 1px;
    font-size: 2em;
    /* border: 3px solid var(--blue); */
    text-shadow: -1px 2px 3px #4a4f526b, 0px 0px; 
}

#intro img {
    width: 250px;
}

h3 {
    padding: 1em;
}

#login-button {
    margin-bottom: 3em !important;
}

#login-button button {
    background-color: var(--yellow);
    padding: .5em;
    border: none;
    border-radius: 10px !important;
    font-weight: bold;
    font-family: var(--classic) !important;
    margin-bottom: 1em !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all ease-in-out .2s;

}

#login-button button:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: scale(1.1);
}

#login {
    color: var(--yellow);
    text-decoration: none;    
}

#login:hover {
    color: var(--lightblue);
}