* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100% !important
}

:root {
    --darkblue: #2a3050;
    --lightblue: #007BE2;
    --light: #FFFFFF;
    --black: #000000;
    --gray: #4a4a4a;
    --yellow: #FEC902;
    --pokemon: 'pokemon', sans-serif;
    --classic: 'classic', sans-serif;
    --museo: 'museo', sans-serif;
    --danger: #DD1E24;

    /* Pokemon Power Colors */
    --bug: #3B9950;
    --dark: #5A5979;
    --dragon: #61CAD7;
    --electric: #b1b12b;
    --fairy: #EA1369;
    --fighting: #EF6138;
    --fire: #FD4B5A;
    --flying: #6F808E;
    --ghost: #906790;
    --grass: #28C950;
    --ground: #6E491F;
    --ice: #BEE7F5;
    --normal: #C899A7;
    --poison: #9B69D9;
    --psychic: #F81C91;
    --rock: #8B3E21;
    --steal: #43BD94;
    --water: #86A8FC;
}


@font-face {
    font-family: 'pokemon';
    src: url('./assets/fonts/Ketchum.otf') format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'classic';
    src: url('./assets/fonts/ClassicPokemon.ttf') format("truetype");
    font-weight: normal;
}


@font-face {
    font-family: 'museo';
    src: url('./assets/fonts/MuseoSans.otf') format("opentype");
    font-weight: normal;
}


.full-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--darkblue) !important;
    color: var(--light);
}