.modal-images {
  align-items: center;
  display: flex;
  justify-content: center;
}

.mystery-img{
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 1;
  animation: hideMystery 1.5s forwards;
  height: 200px;
}

.new-pokemon-img{
  position: relative;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showPokemon 3.5s forwards;
  width: 100%;
}

@keyframes hideMystery {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showPokemon {
  from {
    opacity: 0;
    filter: brightness(10%)
  }
  to {
    opacity: 1;
    filter: brightness(100%)
  }
}

#shop .shop-contents {
  height: calc(100% - (110px));
  overflow-y: auto;
  overflow-x: hidden;
}