<div id="welcome" class='full-screen'>
    <div id="intro">
        <h3>Welcome to</h3>
        <img src='../../assets/items/Pokemon3.png' alt="" />
        <h2>Battles</h2>
    </div>
    <img src='../../assets/people/ashketchum.png' alt="pokeball animation" class='m-auto'/>
    <div id="login-button">
        <a href='./create'>
            <button>Create Account</button><br/>
        </a>
        <small>Already have an account? <a href='./login' id="login">Login</a></small>
    </div>
</div>    