:root {
    --blue: #2a3050;
    --lightblue: #007BE2;
    --light: #FFFFFF;
    --black: #222222;
    --gray: #4a4a4a;
    --yellow: #FEC902;
    --pokemon: 'pokemon', sans-serif;
    --classic: 'classic', sans-serif;
    --museo: 'museo', sans-serif;
    --danger: #DD1E24;

    /* Pokemon Power Colors */
    --bug: #3B9950;
    --dark: #5A5979;
    --dragon: #61CAD7;
    --electric: #b1b12b;
    --fairy: #EA1369;
    --fighting: #EF6138;
    --fire: #FD4B5A;
    --flying: #6F808E;
    --ghost: #906790;
    --grass: #28C950;
    --ground: #6E491F;
    --ice: #BEE7F5;
    --normal: #C899A7;
    --poison: #9B69D9;
    --psychic: #F81C91;
    --rock: #8B3E21;
    --steal: #43BD94;
    --water: #86A8FC;
}


@font-face {
    font-family: 'pokemon';
    src: url('./fonts/Ketchum.otf') format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'classic';
    src: url('./fonts/ClassicPokemon.ttf') format("truetype");
    font-weight: normal;
}


@font-face {
    font-family: 'museo';
    src: url('./fonts/MuseoSans.otf') format("opentype");
    font-weight: normal;
}


.full-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--blue) !important;
    color: var(--light);
    position: relative;
}

.content {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/items/pokestop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    font-family: var(--museo);
    text-shadow: -1px 2px 3px #3d3d3d6b, 0px 0px;
    height: 100%;
    width: 100%;
    padding-bottom: calc(2rem + 50px);
}

.content-center {
    justify-content: center;
}

.content-item {
    width: 100%;
    height: 100%;
    padding: 1rem;
    max-width: 1080px;
    padding-bottom: calc(4rem + 50px);
}

.sbutton {
    background-color: var(--yellow);
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all ease-in-out .2s;
    color: black;
}


.sbutton-cancel {
    background-color: var(--fire);
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

.yellow-text {
    color: var(--yellow);
}

a {
    text-decoration: none !important;
}

/* Change Bootstrap defaults */
.modal-header {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}

.modal-body {
    color: var(--light);
}

.modal-content {
    background-color: var(--blue) !important;
}

.modal-body input{
    color: var(--black) !important;
}

input {
    color: var(--light) !important;
}

.menu-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    font-family: var(--museo);
    text-shadow: -1px 2px 3px #3d3d3d6b, 0px 0px;
    }