.shop-item {
  /* width: calc(50%); */
	/* width: 10rem;
  height: 10rem; */
  margin-bottom: 1rem;
  border-radius: 4px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background-color: rgba(1, 1, 1, 0.295);
  flex-grow: 1;
  flex-direction: column;
}

.shop-item .coin {
  width: 2rem;
}

/* 655 x 575 img */
.shop-item-img {
  width: 87.8px;
  height: 100px;
}

.shop-item button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.confirm-footer {
  align-items: center;
} */

